  <!-- javascripts -->
  <script src="{{ "/assets/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jquery.stellar.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jquery.singlepagenav.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/jquery.mixitup.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/functions.js" | prepend: site.baseurl }}"></script>
  