<div class="col-xs-12 social">
          <a href="http://facebook.com/{{ site.social_account }}" class="facebook"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
          <a href="http://twitter.com/{{ site.social_account }}" class="twitter"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
          <a href="http://eg.linkedin.com/in/{{ site.social_account }}" class="linkedin"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
          <a href="https://instagram.com/{{ site.social_account }}" class="instagram"><i class="fa fa-fw fa-2x fa-instagram"></i></a>
          <a href="http://github.com/{{ site.social_account }}" class="github"><i class="fa fa-fw fa-2x fa-github"></i></a>
          <a href="http://behance.net/{{ site.social_account }}" class="behance"><i class="fa fa-fw fa-2x fa-behance"></i></a>
        </div><!-- /.col-xs-12 social -->