	<!-- twitter card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@{{ site.social_account }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title  }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:creator" content="@{{ site.social_account }}">
	<meta name="twitter:image:src" content="{% if page.twitter_image %}{{ page.twitter_image  | prepend: site.url }}{% else %}{{ site.twitter_image | prepend: site.url }}{% endif %}">
	<meta name="twitter:domain" content="{{ site.uri }}">
	