---
layout: front
permalink: /
---
<main id="site-intro" class="intro whitesmoke jumbotron" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-10 col-xs-12" itemscope itemtype="http://data-vocabulary.org/Person">
					<h1>Hi, I'm <span itemprop="name">Hashem</span></h1>
					<h2>Freelance <span itemprop="title">Web UX <em class="cursive">&amp;</em> UI Developer</span></h2>
					<p class="lead">Based in the beautiful <span itemprop="address" itemscope
    itemtype="http://data-vocabulary.org/Address"><span itemprop="region">Mediterranean</span> city of <span itemprop="locality">Alexandria</span></span></p><!-- /.lead -->
					<div class="more-info hidden-xs">
						<a href="#site-portfolio" class="btn btn-lg btn-brand" itemprop="url"><i class="fa fa-fw fa-briefcase"></i> See my latest work</a>
						<a href="#site-contact" class="btn btn-lg btn-outline" itemprop="url"><i class="fa fa-fw fa-paper-plane"></i> Contact me</a>
					</div><!-- /.more-info -->
					<div class="more-info visible-xs">
						<a href="#site-portfolio" class="btn btn-lg btn-block btn-brand"><i class="fa fa-fw fa-briefcase"></i> See my latest work</a>
						<a href="#site-contact" class="btn btn-lg btn-block btn-outline"><i class="fa fa-fw fa-paper-plane"></i> Contact me</a>
					</div><!-- /.more-info -->
				</div><!-- /.col-md-6 col-xs-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</main><!-- /#site-intro.intro whitesmoke jumbotron -->
	<section id="site-portfolio" class="portfolio" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h3>Portfolio &amp; Latest work</h3>
						<p class="lead">Combining beautiful &amp; functional is what I do</p>
					</div><!-- /.page-header -->
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->
			<div id="portfolio-grid" class="row">
				{% include /portfolio-covers/hecreek.html %}
				{% include /portfolio-covers/slimsons-club.html %}
				{% include /portfolio-covers/limopedia.html %}
				{% include /portfolio-covers/53wordpress.html %}
				{% include /portfolio-covers/mubaderon.html %}
				{% include /portfolio-covers/voicedhq.html %}
			</div><!-- /#portfolio-grid.row -->
			<div class="row">
				<div class="col-xs-12">
					<a href="/portfolio/" class="btn btn-brand btn-block btn-lg"><i class="fa fa-fw fa-briefcase"></i> Check out my full portfolio</a>
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#site-portfolio.portfolio -->
	<section class="teaser jumbotron whitesmoke">
		<div class="container">
			<article class="row">
				<div class="col-md-6 col-md-offset-3 more-info text-center">
					<p class="lead">Do you have a project, or ideas and you want to get started with?! Don't hesitate and feel free to <a href="#site-contact" class="btn-link-brand">get in touch with me</a>.</p>
				</div><!-- /.col-md-6 col-md-offset-3 more-info text-center -->
			</article><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.teaser jumbotron whitesmoke -->
	<section id="site-about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h3>About me</h3>
						<p class="lead">I absolutely love to code!</p>
					</div><!-- /.page-header -->
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-8 col-xs-12 text-justify">
					<p class="lead">Hello again, My name is <strong>Hashem Zahran</strong>, a passionate freelance Web &amp; Mobile <strong>UX/UI Developer</strong> based in the beautiful Mediterranean city of Alexandria, Egypt.</p><!-- /.lead -->
					<p>I'm always a visionary entrepreneur at heart with several involvements since my teen years like founding a computer hardware company at the age of 18. I've since co-founded &amp; operated multiple design agencies &amp; worked as a <strong>Front-End Developer</strong> for several technology companies as well.</p>
					<p>I do wire-frames, prototypes, mock-ups, &amp; layouts using my favorite design tool "Illustrator" and my favorite editor "Sublime Text". I love developing for WordPress with clear code and creative results. I also help brands in discovering new ways to interact with their customers via latest trends in social media marketing.</p>
					<p><a href="/about/" class="btn btn-lg btn-brand"><i class="fa fa-fw fa-book"></i> More about me</a> <a href="/about/resume/" class="btn btn-lg btn-link-brand"><i class="fa fa-fw fa-clipboard"></i> Check out my resume</a></p>
				</div><!-- /.col-md-8 col-xs-12 -->
				<div class="col-md-3 col-md-offset-1 col-xs-12">
					<img src="{{ "assets/img/personal/hashem-zahran.jpg" | prepend: site.baseurl }}" alt="Hashem Zahran" class="img-responsive img-circle" />
				</div><!-- /.col-md-4 col-xs-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#site-about.about -->
	<section class="teaser touch whitesmoke">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-xs-12">
					<h3>Interested in working with me?!</h3>
				</div><!-- /.col-md-8 col-xs-12 -->
				<div class="col-md-4 col-xs-12 more-info">
					<a href="#site-contact" class="btn btn-brand btn-lg btn-block"><i class="fa fa-fw fa-paper-plane"></i> Get in touch</a>
				</div><!-- /.col-md-4 col-xs-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.touch whitesmoke -->
	<section id="site-contact" class="contact">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h3>Get in touch</h3>
						<p class="lead">Interesting in working with me?! Let's code stuff.</p>
					</div><!-- /.page-header -->
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-5 col-xs-12">
					<p>Message me via contact form or the information below</p>
					<address>
						<i class="fa fa-fw fa-map-marker"></i> <strong>Hashem E. Zahran.</strong><br>
						<i class="fa fa-fw"></i> 30 Dr. Mahmoud Selim St.,<br>
						<i class="fa fa-fw"></i> Miami, Alexandria 21411.<br>
						<i class="fa fa-fw fa-phone"></i> +20 100 4205152<br>
						<i class="fa fa-fw fa fa-inbox"></i> <script>mail2("sayhi","hezahran",0,"", "Say Hi.")</script><br>
					</address>
				</div><!-- /.col-md-5 col-xs-12 -->
				<div class="col-md-7 col-md-offset-0 col-xs-10 col-xs-offset-1">
					<form id="contact-form" class="form-horizontal" novalidate>
						<fieldset>
							<legend class="sr-only">Drop me a line!</legend>
							<div class="form-group control-group">
								<label for="name" class="control-label sr-only">Your Name</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div><!-- /.input-group-addon -->
									<input type="text" class="form-control" placeholder="Ex: John Doe" id="name" required data-validation-required-message="<i class='fa fa-fw fa-warning'></i> Please enter your name" id="name" />
								</div><!-- /.input-group -->
								<p class="help-block"></p><!-- /.help-block -->
							</div><!-- /.form-group control-group -->
							<div class="form-group control-group">
								<label for="email" class="control-label sr-only">Your Email Address</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-fw fa-inbox"></i></div><!-- /.input-group-addon -->
									<input type="email" class="form-control" placeholder="Ex: john@smithdoe.com" id="email" required data-validation-required-message="<i class='fa fa-fw fa-warning'></i> Please enter your email" id="email" />
								</div><!-- /.input-group -->
								<p class="help-block"></p><!-- /.help-block -->
							</div><!-- /.form-group control-group -->
							<div class="form-group control-group">
								<label for="message" class="control-label sr-only">Your Email Address</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-fw fa-pencil"></i>
									</div><!-- /.input-group-addon -->
									<textarea rows="3" class="form-control"
								placeholder="Say Hello or tell me more about how can I help you out in getting your next project done" id="message" required data-validation-required-message="<i class='fa fa-fw fa-warning'></i> Please enter your message" minlength="5"  data-validation-minlength-message="Min 5 characters" maxlength="999" style="resize:none" id="message"></textarea>
								</div><!-- /.input-group -->
								<p class="help-block"></p><!-- /.help-block -->
							</div><!-- /.form-group control-group -->
							<div class="form-group control-group">
								<div id="success"> </div>
								<button type="submit" class="btn btn-brand btn-lg"><i class="fa fa-fw fa-paper-plane"></i> Send</button>
								<button type="reset" class="btn btn-link-brand btn-lg"><i class="fa fa-fw fa-refresh"></i> Reset</button>
							</div><!-- /.form-group control-group -->
						</fieldset>
					</form><!-- /#contact-form.form-horizontal -->
				</div><!-- /.col-md-7 col-xs-10 col-xs-offset-1 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /#site-contact.contact -->
	<section id="site-map" class="whitesmoke" style="min-height:460px"></section><!-- /#site-map.whitesmoke -->
