---
layout: page
title: Portfolio
permalink: /portfolio/
---
<section id="site-portfolio" class="portfolio" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h3>Portfolio &amp; Latest work</h3>
						<p class="lead">Combining beautiful &amp; functional is what I do</p>
					</div><!-- /.page-header -->
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<ul class="list-inline">
						<li class="btn btn-outline filter" data-filter="all">ALL</li><!-- /.btn btn-outline filter -->
						<li class="btn btn-outline filter" data-filter=".web">Web Dev</li><!-- /.btn btn-outline filter -->
						<li class="btn btn-outline filter" data-filter=".uxui">UX/UI</li><!-- /.btn btn-outline filter -->
						<li class="btn btn-outline filter" data-filter=".seo">SEO/SEM</li><!-- /.btn btn-outline filter -->
						<li class="btn btn-outline filter" data-filter=".brand">Brand</li><!-- /.btn btn-outline filter -->
					</ul><!-- /.list-inline -->
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->
			<div id="portfolio-grid" class="row">
				{% include /portfolio-covers/hecreek.html %}
				{% include /portfolio-covers/slimsons-club.html %}
			</div><!-- /#portfolio-grid.row -->
		</div><!-- /.container -->
	</section><!-- /#site-portfolio.portfolio -->
	<section class="teaser jumbotron whitesmoke">
		<div class="container">
			<article class="row">
				<div class="col-md-6 col-md-offset-3 more-info text-center">
					<p class="lead">Do you have a project, or ideas and you want to get started with?! Don't hesitate and feel free to <a href="#site-contact" class="btn-link-brand">get in touch with me</a>.</p>
				</div><!-- /.col-md-6 col-md-offset-3 more-info text-center -->
			</article><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.teaser jumbotron whitesmoke -->