/*-- intro elements
 ------------------------------------------------------------*/
.intro {
	min-height: 100%;
	background: {
		image: url('../img/personal/hashem_zahran-header_intro.jpg');
		size: 100%;
		repeat: no-repeat;
		position: top right;
	}
}