/*-- variables
 ------------------------------------------------------------*/
$brand-default-color: #708455;
$brand-default-color-shadow: #617049;
$brand-primary-color: #ece5d5;
$brand-primary-color-shadow: #dfd5ba;
$brand-secondary-color: #323232;
$brand-secondary-color-shadow: #2c2c2c;
$brand-assistive-color: #b18d60;
$brand-font-serif: 'Bitter', 'Times New Roman', Times, serif;
$brand-font-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$brand-font-cursive: 'Rochester', cursive;