/*-- variables
 ------------------------------------------------------------*/
$brand-greenhaze: rgb(1, 152, 117);
$brand-observatory: rgb(4, 147, 114);
$brand-white: rgb(255, 255, 255);
$brand-whitesmoke: rgb(245, 245, 245);
$brand-clouds: rgb(236, 240, 241);
$brand-silver: rgb(189, 195, 199);
$brand-wetasphalt: rgb(52, 73, 94);
$brand-midnightblue: rgb(44, 62, 80);
$brand-alizarin: rgb(231, 76, 60);
$brand-pumpkin: rgb(211, 84, 0);
$brand-headings: 'Fira Sans', sans-serif;
$brand-paragraphs: 'Roboto', sans-serif;
$brand-cursive: 'Rochester', cursive;