/*-- basic styles
 ------------------------------------------------------------*/
html, body {
  height: 100%;
  width: 100%;
  background: $brand-white;
  font-family: $brand-paragraphs;
  font-weight: 300;
  color: $brand-wetasphalt;
}
body {
  padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
  font: {
    family: $brand-headings;
    weight: 300;
  }
  color: $brand-greenhaze;

}
main, section {
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
}
a {
  color: $brand-greenhaze;
  &:hover {
    color: $brand-midnightblue;
  }
}
blockquote {
  margin-bottom: 0px;
  footer {
    padding: 0px;
    text-shadow: 0 0;
  }
}
