/*-- macyfing bootstrap elements
 ------------------------------------------------------------*/
.jumbotron {
  margin-bottom: 0px;
}
.btn {
  font-weight: 300;
  text-shadow: 0 0;
  &.active {
    box-shadow: 0 0;
  }
}
