/*-- macyfiny bootstrap elements
 ------------------------------------------------------------*/
.jumbotron,
.navbar,
blockquote  {
	margin-bottom: 0px;
}
.jumbotron {
	padding-top:100px;
	padding-bottom: 100px;
}
