/*-- navigation
 ------------------------------------------------------------*/
.navbar-default {
	background: {
		color: $brand-default-color;
	}
	border: {
		color: $brand-default-color-shadow;
	}
	width: 100%;
	font-weight: 500;
	.navbar-brand {
		line-height: 85px;
		height: 100px;
		color: $brand-primary-color-shadow;
		svg {
			height: 100%;
			width: 70px;
			path {
				fill: currentColor;
			}
		}
		&:hover {
			color: $brand-primary-color;
		}
	}
	.navbar-nav {
		li {
			a {
				color: $brand-primary-color-shadow;
				margin: 30px 2px;
				padding-top: 10px;
				padding-bottom: 10px;
				i {
					opacity: 0;
				}
				&:hover {
					color: $brand-primary-color;
					background: {
						color: $brand-default-color-shadow;
					}
					i {
						opacity: 1;
					}
				}
				@include border-radius(6px);
			}
			&.active {
				a {
					color: $brand-default-color;
					background: {
						color: $brand-primary-color-shadow;
					}
					i {
						opacity: 1;
					}
					&:hover {
						color: $brand-default-color-shadow;
						background: {
							color: $brand-primary-color;
						}

					}
				}
			}
		}
	}
}