/*-- portfolio elements
 ------------------------------------------------------------*/
#portfolio-grid {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .mix {
    display: none;
    text-align: center;
    margin-bottom: 20px;
    img {
      @include box-shadow(5px,5px,0px,$brand-clouds);
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
