/*-- scaffolding
 ------------------------------------------------------------*/
/* buttons */
.btn-outline {
  color: $brand-primary-color-shadow;
  background-color: transparent;
  border-color: $brand-primary-color-shadow;
  &:hover,
  &:focus,
  &:active {
  color: $brand-default-color;
  background-color: $brand-primary-color-shadow;
  border-color: $brand-primary-color-shadow;
  }
}

.btn-brand {
  color: $brand-primary-color;
  background-color: $brand-default-color;
  border-color: $brand-default-color;
  &:hover,
  &:focus,
  &:active {
  color: $brand-primary-color;
  background-color: $brand-default-color-shadow;
  border-color: $brand-default-color-shadow;
  }
}

.btn-secondary {
  color: $brand-default-color;
  background-color: $brand-primary-color-shadow;
  border-color: $brand-primary-color-shadow;
  &:hover,
  &:focus,
  &:active {
  color: $brand-primary-color;
  background-color: $brand-assistive-color;
  border-color: $brand-assistive-color;
  }
}

/* jumbotron colors */
.default {
	background: $brand-primary-color url(bg_pixels-light) no-repeat center center;
	color: $brand-secondary-color;
	.page-header {
		border-color: $brand-primary-color-shadow;
	}
}
.inverse {
  background: $brand-primary-color-shadow url(bg_pixels-light-shadow) no-repeat center center;
  color: $brand-secondary-color-shadow;
  .page-header {
    border-color: $brand-primary-color;
  }
}
.green {
	background: $brand-default-color url(bg_pixels-green) no-repeat center center;
	color: $brand-primary-color-shadow;
	p {
		color: $brand-primary-color-shadow;

	}
}

