<!DOCTYPE html>
<html lang="en">
<head>
	{% include /head/critical.html %}
	{% include /head/stylesheets.html %}
	{% include /head/metadata.html %}
	{% include /head/shortcut_icons.html %}
	{% include /head/mobile.html %}
	{% include /head/fb_opg.html %}
	{% include /head/twt_card.html %}
	{% include /head/webmasters.html %}
	{% include /head/ie_scripts.html %}
	<script src="{{ "/assets/js/email.js" | prepend: site.baseurl }}"></script>
</head>
<body data-spy="scroll" data-target="#main-navbar-home" data-offset="51">
	{% include front-header.html %}
	{{content}}
	<footer id="site-footer" class="midnightblue">
    <div class="container">
      <div class="row text-center">
			{% include /footer/social.html %}
			{% include /footer/copyright.html %}
			</div><!-- /.row text-center-->
    </div><!-- /.container -->
  </footer><!-- /#site-footer.midnightblue -->
	{% include /footer/javascripts.html %}
	{% include /footer/analytics.html %}
</body>
</html>